
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
database.db
